---
---

@import "{{ site.theme }}";

@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

.badge {
    font-size: 100%;
	margin-bottom: 0.5rem;
};

.badge.value-type {
    font-size: 120%;
    margin-right: 5px;
    margin-bottom: 10px;
};

.badge.default-value {
    font-size: 120%;
    margin-left: 5px;
    margin-bottom: 10px;
};

.badge.restriction {
    display: inline-block;
};

.badge.required-property,.badge.deprecated-property,.badge.pattern-property,.badge.no-additional {
    font-size: 100%;
    margin-left: 10px;
};